################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Hakerearth/Bit manipulation/.vs/Bit manipulation/v15
/Hakerearth/Bit manipulation/Bit manipulation/Release
/Hakerearth/Bit manipulation/Bit manipulation/Debug
/Hakerearth/Bit manipulation/Bit manipulation/Release
/Hakerearth/Bit manipulation/Bit manipulation/Debug
/Hakerearth/Bit manipulation/Release
/Hakerearth/Bit manipulation/Debug
*.exe
*.exe
/Hakerearth/Bit manipulation/Bit manipulation/x64/Debug
/Hakerearth/Bit manipulation/Bit manipulation/x64/Debug
/Hakerearth/Bit manipulation/x64/Debug
/Books/Competitive Programming 3/chapter-1/exercise-1.2.3/C++/.vs/C++/v15
/Books/Competitive Programming 3/chapter-1/exercise-1.2.3/Java/.idea
/Books/Competitive Programming 3/chapter-1/exercise-1.2.3/C++/Debug
/Books/Competitive Programming 3/chapter-1/exercise-1.2.3/C++/C++/Debug
/Books/Competitive Programming 3/chapter-1/exercise-1.2.3/Java/out/production/1
*.iml
/Hackerrank/Goldman Sachs CodeSprint/Debug
/Hackerrank/Goldman Sachs CodeSprint/.vs/Goldman Sachs CodeSprint/v15
/Hackerrank/Goldman Sachs CodeSprint/Goldman Sachs CodeSprint/Debug
/Books/Competitive Programming 3/chapter-1/exercise-1.3.2/.idea
/Books/Competitive Programming 3/chapter-1/exercise-1.3.2/out/production/exercise-1.3.2
/Hackerrank/Algorithms/Sorting/The Full Counting Sort/.vs/The Full Counting Sort/v15
/Hackerrank/Algorithms/Sorting/The Full Counting Sort/The Full Counting Sort/x64/Debug
/Hackerrank/Algorithms/Sorting/The Full Counting Sort/x64/Debug
/UVa/Super easy/.vs/Super easy/v15
/UVa/Super easy/Super easy/x64/Debug
/UVa/Super easy/Super easy/Debug
/UVa/Super easy/x64/Debug
/UVa/Easy/.vs/Easy/v15
/UVa/Easy/Debug
/UVa/Easy/Easy/Debug
/UVa/Medium/.vs/Medium/v15
/UVa/Medium/Debug
/UVa/Medium/Medium/Debug
/Hakerearth/August circuits '17/.vs/August circuits '17/v15
/Hakerearth/August circuits '17/August circuits '17/Debug
/Hakerearth/August circuits '17/Debug
