################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Hakerearth/Bit manipulation/.vs/Bit manipulation/v15
