################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Hakerearth/Bit manipulation/.vs/Bit manipulation/v15
/Hakerearth/Bit manipulation/Bit manipulation/Release
/Hakerearth/Bit manipulation/Bit manipulation/Debug
/Hakerearth/Bit manipulation/Bit manipulation/Release
/Hakerearth/Bit manipulation/Bit manipulation/Debug
/Hakerearth/Bit manipulation/Release
/Hakerearth/Bit manipulation/Debug
*.exe
*.exe
/Hakerearth/Bit manipulation/Bit manipulation/x64/Debug
/Hakerearth/Bit manipulation/Bit manipulation/x64/Debug
/Hakerearth/Bit manipulation/x64/Debug
